@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html
{
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}
body
{
    font-family:'Raleway', sans-serif;
    width: clamp(320px, 100%, 1600px); 
    margin: 0 auto; 
    font-size: 16px; /* Pour les navigateurs qui ne supportent pas le Rem */
    font-size: 1.6rem; /* Pour les navigateurs « Responsive » */
}
/* GENERAL */
h1, h2 
{
    font-size: 2.2rem;   
}
h2 
{
    margin-left: 2rem;
    margin-bottom: 0.9rem;
}
.hebergement h3, .populaire h3, .Activites h3 
{
    font-size: 1.6rem;
}
a 
{
    text-decoration: none;
    color: #000;
}

/* DEBUT HEADER */ 
header 
{
    margin: 0 5.1rem 0 5.1rem ;
    display: grid;
    grid-template-areas:
    "img menu inscription"
    "titre-principal titre-principal titre-principal";
    grid-template-columns:20% 70% 10%;
}
header img 
{
    padding-top: 4.4rem; 
    grid-area: img;
}
/* debut menu nav */
.menu 
{ 
    grid-area: menu;
    display: inline-flex;
    justify-content: flex-end;
}
.menu a
{   
    padding:4.6rem 3.4rem;  
}  
.inscription a
{
    color: #0065fc;
    font-weight: bold;        
} 
.inscription 
{
    grid-area: inscription;
    margin: 4.6rem 0 0 2.9rem;
}
.titre-principal
{
    grid-area: titre-principal;
    line-height: 1.3rem;
    padding: 1rem 0 0.7rem 0;
}
/* fin menu nav */
/* FIN HEADER */
main 
{
    margin:0 5.1rem;   
}
/* DEBUT RECHERCHE */
.recherche 
{
    display: flex;
}
.recherche button 
{     
    background-color: #0065fc;   
    padding: 1.5rem;
    border: 0;
    border-radius:0 1.5rem 1.5rem 0;
    margin-left: -0.2rem;
}
.texte-recherche 
{
    font-family:inherit;
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
}
.recherche input 
{
    font-family:inherit;
    border: 0.1rem solid #f2f2f2;
    font-size: 1.8rem;
    font-weight:bold;
    padding-left: 1.5rem;   
}
.fa-map-marker-alt
{
    padding: 1.8rem;
    background-color: #f2f2f2;
    border-radius:1.5rem 0 0 1.5rem ;
}
/* FIN RECHERCHE */

/* DEBUT FILTRES */
.filtre
{
    display:inline-flex; 
    height: 4.8rem;  
    align-items: center;
    border:  0.2rem solid #dfdfdf;
    border-radius:5rem;
    margin:1rem 0 1rem 2.5rem;  
}
.titre-filtre
{
    display: inline-flex;
    margin:1.2rem 0.4rem 1.2rem 1.2rem;
}
.texte-filtre
{
    font-size: 1.8rem;
    font-weight: bold;
    margin:0 1.8rem 0 1.1rem; 
}
.icone-filtre
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    background-color: #DEEBFF;
    color: #0065fc;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    margin-left: -0.5rem;
}
.filtre :hover
{
    color:#0065fc;
    font-style:oblique;
}
/* FIN FILTRES */

/* DEBUT INFO */
.info
{
    display:flex;
    align-items: center;
    margin-top:1.3rem ;
}
.info i
{
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #0065fc;
    border: 0.2rem solid #f2f2f2;
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem; 
    font-size:1.1rem ; 
}
/* FIN INFO */

.section-hebergement-populaire
{
    display: flex;
    margin-bottom: 6rem;
    justify-content: space-between;
}
/* DEBUT HEBERGEMENT */
.hebergement
{
    background-color:#f2f2f2;
    width: 62.7%;
    padding: 2.3rem 2rem 1.5rem 2rem;
    border-radius: 2rem ;
    margin-right: 2rem;
}
.article
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.hebergement article
{
    display: flex;
    width: 23.5rem;
    height: 18.4rem;
    background-color: white;
    margin:1.5rem 1rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;    
    border-radius: 2.5rem;
    line-height: 0.6rem;
    box-shadow: 0.2rem 0.3rem 1.2rem #e0dede;
}
.hebergement a
{
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;   
}
.hebergement img
{
    width: 106%;
    height: 61%;
    object-fit:cover;
    margin-left: -1rem;
}
.etoile-bleu
{
    color:#0065fc;
    font-size:1.2rem;
    letter-spacing:-0.14rem;
}
.etoile-gris
{
    color:#f2f2f2;
    font-size:1.2rem;
}
.texte-hebergement
{
    margin:1.3rem 1rem;
    font-size: 1.4rem;
}
.Afficher
{
   padding:1rem 2.7rem;  
}
/* FIN HEBERGEMENT *

/* DEBUT POPULAIRE */
.populaire
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#f2f2f2;
    width: clamp(37rem, 27.7%, 60rem);
    padding: 2.4rem 2.6rem 0 2.3rem;
    border-radius: 2rem ;
}
.titre-populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.titre-populaire i 
{
    font-size: 2.3rem;
    margin-right: 2rem;
}
.populaire article
{
    display:flex;
    width: 33.4rem;
    height: 13.5rem;
    background-color: white;
    margin: 1.6rem;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.3rem 1.2rem #e0dede;  
}
.image-populaire 
{
    overflow: hidden;
    width: 13rem;
    height:13.5rem ;
    border-radius:  1.5rem 0  0 1.5rem;
    flex-shrink: 0;
}
.populaire img
{ 
    width: 108%; 
    height: 106%; 
    margin-left:-0.6rem;
    object-fit:cover;    
}
.texte-populaire 
{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0 2rem;
}
.populaire h3 
{
    margin-top: 0.8rem;
}
.populaire p
{
    font-size: 1.4rem;
    margin-top:-1.1rem;   
}
.texte-populaire i 
{
    margin-top: 3.3rem;
    font-size:1.1rem;
    letter-spacing: 0;
}
/* FIN POPULAIRE */

/* DEBUT ACTIVITES */
.section-activites
{
    display: block;
}
#Activites 
{
    margin:1.2rem 1rem 4rem 0;
}
.Activites 
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;     
}
.section-activites img
{
    width:30.2rem;
    object-fit: cover;
    border-radius: 2rem;    
}
.Activites div 
{
    margin-top: -1.9rem ;
}
.titre-activite 
{
    background-color: white;
    padding: 0.4rem 0 0.1rem 1.8rem;
    transform: translate(0, -4rem);
    border-radius: 0 0 2rem 2rem; 
    box-shadow: 0.2rem 0.5rem 0.8rem rgb(235, 233, 233);
}
.img-1, .img-4 
{
   height: 44.4rem;
}
.img-2
{
    height: 23.7rem;  
}
.img-3 
{
   height: 16.4rem;
}
.img-5 
{
    height: 19.4rem;  
}
.img-6 
{
    height: 20.9rem; 
}
/* FIN ACTIVITES */

/* DEBUT FOOTER */
footer 
{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 2rem;
    padding: 2.7rem 2.9rem 4rem 5.1rem;
}
footer div 
{
    width: 33.3%;   
}
footer p 
{
    line-height: 1.5rem;
}
/* FIN FOOTER */


/* VERSION MOBILE */
@media screen and (max-width: 650px) 
{   
     /*HEADER mobile*/
    header 
    {
        display: grid;
        grid-template-areas:
        "img inscription"
        "menu menu"
        "titre-principal titre-principal";
        grid-template-columns: 50% 50%;
        margin: 0;
    }
    header img 
    {
        padding: 2.4rem 0 2.8rem 2rem;
    }
    .inscription 
    {
        padding-left:7rem;
        margin-top: 4rem;
    }
    .menu a 
    {
       flex-basis: 50%;
       text-align: center;
       padding:0 0 1.4rem 0;
       border-bottom: 0.3rem solid #f2f2f2;
    }
    .menu a:active 
    {
        border-bottom: 0.3rem solid #0065fc;
    }
    .titre-principal
    {
        padding: 2rem 2rem;
    }
    h1 
    {
        line-height: 2.5rem;
    }
    /* MAIN mobile*/
  
    main 
    {
        margin: 0 2rem;
    }
    .recherche button 
    {
        border-radius:1.5rem;
        padding: 0 1.7rem;
        margin-left: -1rem;   
    }
    .fa-search
    {
        display: block;
        color: white;
        font-size: 1.7rem;
    }
    .texte-recherche 
    {
        display: none;
    }
    .filtre 
    {
        margin:0.6rem 0.4rem;
    }
    .titre-filtre
    {
        width: 100%;
        margin: 1.1rem 0;
    }
    .texte-filtre
    {
        font-size: 1.6rem;
        margin:0 1.5rem 0 1.1rem;
    }
    .info 
    {
        align-items: baseline;
    }
    .info i 
    {
        padding: 0 0.3rem;
    }
    .section-hebergement-populaire 
    {
        flex-wrap:wrap-reverse ;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .populaire 
    {
        padding-bottom: 3rem;
        border-radius: 0;
        width: 37.5rem;
        box-sizing: border-box;
    }
    .titre-populaire 
    {
       margin-bottom: 0.9rem; 
    }
    .populaire article 
    {
        margin: 0.5rem;
    }
    .hebergement 
    {
        background-color: white;
        margin: 0;
        padding: 1.7rem 0 0 0;
        min-width: 37.5rem;
    }
    .hebergement article 
    {
        min-width: 32.5rem;
        margin: 1rem 0 0.2rem 0;
        box-shadow: 0.2rem 0.5rem 0.8rem rgb(235, 233, 233)
    }
    .Afficher
    {
        padding: 3rem 0 0 2.7rem;
        margin: 0;
        font-size: 1.8rem;
    }
    .Activites 
    {
        justify-content: center;
    }
    #Activites 
    {
        margin: 0 0 2.9rem 0;
    }
    .Activites img 
    {
        width: 33.5rem;
        height: 19rem;
    }
    .titre-activite
    {
        margin-bottom: -1.9rem;
    }           
    .Activites .bloc 
    {
        margin: auto;
    }
    footer 
    {
        flex-direction: column;
        margin-top: 2.8rem;
        padding-left: 3rem;
        width: 100%;
        box-sizing: border-box;
    }
    footer div 
    {
        width: 100%;
        margin-bottom: 1rem;
    }
    footer h3 
    {
        margin: 2rem 0 ;
        font-size: 1.8rem;
    }
    .assistance 
    {
        margin:1.3rem 0 0 0;
    }
}

/* VERSION TABLETTE */
@media screen and (min-width:651px) and (max-width: 1120px)
{
    .filtre 
    {
        width: 14.8rem;
        height: 3.8rem;
        margin-left: 1rem;   
    }
    .titre-filtre 
    {
        display: block;
    }
    .texte-filtre
    {
        font-size: 1.6rem;
    }
    .icone-filtre 
    {
        min-width: 4rem;
        max-width: 4rem;
        height: 4rem;
    }
    .section-hebergement-populaire 
    {
        flex-wrap:wrap-reverse ;
        justify-content: center;
        margin-bottom: 5rem;
    }    
    .populaire 
    {
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    .populaire article 
    {
        width: 80%;
    }
    .image-populaire 
    {
        width: 50%;
    }
    .hebergement 
    {
        width: 100%;
        margin-right: 0;
    }
    .Activites 
    {
        justify-content: space-around;
    }       
    footer div 
    {
        margin-right: 1rem;
    }
}
@media screen and (min-width:651px) 
{
    button .icone-recherche 
    {
        display: none;
    }
    .menu a:active
    {
        color: #0065fc;
        border-top: 0.2rem solid #0065fc;
    }
    .menu a:hover
    {
        color: #0065fc;
        border-top: 0.2rem solid #0065fc;
    }   
}

